<div class="welcome-tag">
  <h1>Hi! I'm <a href="https://github.com/marcoroman89/" class="text-error">Marco,</a> and I developed this Ruby based Blackjack app from my one month course at <a href="http://www.gotealeaf.com/" class="text-error">Tealeaf Academy.</a> Check it out!</h1>

  <br/>

  <a href="/new_player" class="btn btn-large btn-primary" type="button"><i class="icon-star"></i>Play Blackjack<i class="icon-star"></i></a>
</div>

<div id="ruby-logo">
  <img src="images/profile/rsz_ruby2.png">
</div>
